body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.container{
    background-color: aquamarine;
    margin-top: 30px;
    width: 800px;
    max-width: 80%;
    padding: 20px;
    border-radius: 5px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background-color: peachpuff;
    color: black;
}

.btn:hover{
    border-color: black;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn, .next-btn{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 20px;
}

